<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Página não encontrada</title>

		<style>
			* {
				margin: 0;
				padding: 0;
			}
			.centralizado {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				height: 100vh;
				gap: 10px;
			}

			.erro404 {
				font-size: 64px;
				font-style: italic;
			}

			.mensagem{
				font-size: 24px;
			}
		</style>
	</head>
	<body>
		<div class="centralizado">
			<h1 class="erro404">404</h1>
			<span class="mensagem">Página não encontrada</span>
		</div>
	</body>
</html>
